/**
 * Plugin front end styles
 *
 * @package PPB_Product_Builder
 * @version 1.0.0
 */

.single-product div.product .ppb-product-builder-module .images {
	width: 100%;
}

.single-product div.product .ppb-product-builder-module form.cart .button {
	float: left;
	margin-left: 4.3em;
}

.ppb-product-builder-module img.size-shop_single {
	width: 100%;
}

.single-product .ppb-product.product {
	overflow: visible;
}
/*
.ppb-product-builder-module:after {
	display: block;
	content: '';
	clear: both;
}
.ppb-product-builder-module .variations td {
	padding: 1em;
	vertical-align: middle;
	text-transform: capitalize;
}
.ppb-product-builder-module .variations td:last-child {
	text-align: right;
}
.ppb-product-builder-module .variations td * {
	display: inline-block;
	vertical-align: middle;
}
.ppb-product-builder-module .quantity {
	float: left;
}
.ppb-product-builder-module .single_add_to_cart_button {
	float: right;
}
*/